{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  <div class='page--content'>
    <div class='status--bar'>
      <span class='status--time'>9:41</span>
      <span class='status--icons'>
        <img src='/svg/Group.svg' alt='' />
      </span>
    </div>

    {{! <nav class='nav--icons'>
      <span class='nav--back'>
        <img src='/svg/back-arrow.svg' alt='' />
      </span>
      <span class='nav--user'>
        <img src='/img/IMG_4737 1.png' alt='' />
      </span>
    </nav>

    <header class='header'>
      <h1 class='header--title'>Мій блог</h1>
    </header>

    <section class='main--section'> -- post--list
      <div class='card'> -- post--button
        <div class='card--header'> -- post--header
          <div class='card--header--badges'> -- category--list
            <span class='badge category--1'>Важливо</span>
            <span class='badge category--2'>Нове</span>
          </div>
          <div class='card--header--date'> -- post--date
            <span>25.01</span>
          </div>
        </div>
        <div class='card--content'>
          <p>
            Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Nemo tempore odit quasi odio
            earum aspernatur totam corrupti unde eum minus.
          </p>
        </div>
      </div>

      <div class='card card__viewed'>
        <div class='card--header'>
          <div class='card--header--badges'>
            <span class='badge category--1'>Важливо</span>
            <span class='badge category--2'>Нове</span>
          </div>
          <div class='card--header--date'>
            25.01
          </div>
        </div>
        <div class='card--content'>
            Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Nemo tempore odit quasi odio
            earum aspernatur totam corrupti unde eum minus.
        </div>
      </div>

      <div class='card'>
        <div class='card--header'>
          <div class='card--header--badges'>
            <span class='badge category--1'>Важливо</span>
            <span class='badge category--2'>Нове</span>
          </div>
          <div class='card--header--date'>
            <span>25.01</span>
          </div>
        </div>
        <div class='card--content'>
          <p>
            Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Nemo tempore odit quasi odio
            earum aspernatur totam corrupti unde eum minus.
          </p>
        </div>
      </div>

    </section> }}
  </div>

</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}