$colorMap: (
  black: #121212,
  text: #363636,
  secondary: #888,
  border: #e6e6e6,
  backgroundLight: #f7f7f7,
  important: #f46f17,
  importantLight: #f7e9e1,
  new: #ef5da8,
  newLight: #f6e8ef,
);

@function color($key) {
  @return map-get($colorMap, $key);
}
