main {
  padding: 16px;
  overflow: hidden;
}

.page {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.slider {
  border-radius: 12px;
  position: relative;
  width: 100%;
}
.slider__content {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}
.slider__button {
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 16px);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.slider__button--left {
  background-image: url("/svg/arrow-left.svg");
  left: 24px;
}
.slider__button--right {
  background-image: url("/svg/arrow-right.svg");
  right: 24px;
}
.slider__button:hover {
  opacity: 0.8;
}